body {
     background-color: #d4ffff;
    font-family: Arial, Helvetica, sans-serif;
     display: flex;
    justify-content: center;
    padding: 40px;
}

main{
    margin: 0 auto;
    margin-top: 8vw;
    margin-bottom: 8vw;
    padding: 180px 20px;
    width: 600px;
    background-color: #b8f4fc;
    border-radius: 30px;
    text-align: center;
     display: flex;
  gap: 20px;
  flex-flow: row wrap;
   width: 700px;
    background-color: #70e2eb;
}
 button {
    background-color: #b8f8f0;
    border: none;
    padding: 4px 8px;
    border-radius: 20px;
    cursor: pointer;
}
button:hover{
     background-color: #70e2eb;
}
input{
  border:0;
  border-bottom:2px solid #ffffff;
  padding:10px 8px;
  font-size:15px;
  outline:none;
  background:transparent;
  transition:border-color .15s;
}
input::placeholder {
    color: #ffffff;
}

.row {
    display: flex;
    gap: 15px;
}

.col {
    width: 300%;
}



.btn:hover {
    background: #92def5;
}