* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, #b43c3c, #c91616);
    color: #fff;
}
.topo {
    background-color: #5a0303;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo h2 {
    color: #d85151;
}

.topo nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #f0e0e0;
}

.topo nav .ativo {
    color: #c45252;
}
.contato-area {
    padding: 40px;
    text-align: center;
}

.contato-area h1 {
    font-size: 32px;
}

.contato-area p {
    margin-top: 5px;
    color: #d8cfcf;
}
.conteudo {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: #ca7474;
    padding: 25px;
    border-radius: 12px;
    text-align: left;
}

.card i {
    font-size: 26px;
    color: #9c1b1b;
}

.card h3 {
    margin-top: 10px;
}

.card p { 
    margin-top: 5px; 
     color: #d5cccc; 
     font-size: 14px; 
}
.formulario {
    background-color: #975d5d;
    padding: 25px;
    border-radius: 12px;
    width: 420px;
    text-align: left;
}

.formulario h2 {
    margin-bottom: 15px;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: #fdcece;
    border: 1px solid #472727;
    color: #fff;
    margin-bottom: 15px;
}

form textarea {
    height: 120px;
    resize: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #e49696;
    color: #630505;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #8d1a1a;
}
